<h1>Default Holding page when no POST has been made against password_reset</h1>

<h3>The request contained the following fields:</h3>
<ul>
  <li>
    <span><%= raw @received_request_type %></span>
  </li>
  <li>
    <span><%= raw @json_body %></span>
  </li>
</ul>
