<div id="margin">

  <ul class="hidden-print breadcrumb">
  <li><a href="/docs">Automation Technical Test Web API</a></li>
  </ul>

    <h1 id="service">Automation Technical Test Web API</h1>
      <h3 id="Overview">Responsible for returning default response body and codes depending on the endpoints hit</h3>

    <div id="spacer"></div>

    <p>Automation Technical Test Web API makes available the following routes:</p>
        <ul>
          <li>
            <a href="/madeup">
              /madeup</a>
            <span> - Represents any endpoint which will return a 404 response</span>
          </li>
          <li>
            <a href="/internal_server_error">
              /internal_server_error</a>
            <span> - Represents an internal_server_error response</span>
          </li>
          <li>
            <a href="/unauthorized">
              /unauthorized</a>
            <span> - Represents an unauthorized response</span>
          </li>
          <li>
            <a href="/no_response">
              /no_response</a>
            <span> - Represents an no_response response</span>
          </li>
          <li>
            <a href="/bad_request">
              /bad_request</a>
            <span> - Represents an bad_request response</span>
          </li>
          <li>
            <a href="/unauthorized">
              /unauthorized</a>
            <span> - Represents an unauthorized response</span>
          </li>
          <li>
            <a href="/forbidden">
              /forbidden</a>
            <span> - Represents an forbidden response</span>
          </li>
          <li>
            <a href="/gateway_timeout">
              /gateway_timeout</a>
            <span> - Represents an gateway_timeout response</span>
          </li>
        </ul>

  <div id="spacer"></div>

  <h3 id="endpoints">Automation Technical Test Web API health check</h3>
  <p>Service Health check makes available the following route:</p>
  <ul>
    <li>
      <a href="/manage/health">
        <span class="label label-primary">GET</span> /manage/health</a>
        <span> - Used to check the service is available</span>
    </li>
  </ul>

</div>
