
<div id="margin">
  <ul class="hidden-print breadcrumb">
    <li><a href="/docs">Automation Technical Test Web API</a></li>
    <li class="active">Not Found</li>
  </ul>

   <h1 id="service">not found</h1>

  <div id="spacer"></div>
  <h2 id="Overview">If you have reached this page then you have either gone to the /madeup url to check a 404 response or hit a url that doesn't exist</h2>
  <h2>What is a 404 Not Found</h2>
  <p>The server has not found anything matching the Request-URI. No indication is given of whether the condition is temporary or permanent.
     This status code is commonly used when the server does not wish to reveal exactly why the request has been refused,
    or when no other response is applicable.</p>

  <div id="spacer"></div>
  <h4>Example GET request</h4>
  <pre>curl -v -X GET 'http://localhost:3000/madeup' </pre>
  <h4>Response</h4>
  <pre>Status 404 Not Found</pre>


  <div id="spacer"></div>
  <form action="/">
    <input type="submit" value="Return To Home Page">
  </form>
  <div id="spacer"></div>

</div>



