<!DOCTYPE html>
<html>
<head>
  <title>Automation Technical Test Web API</title>
  <link href="/docs/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="/docs/css/vendor/docs.css" rel="stylesheet">
  <link href="/docs/css/vendor/font-awesome.css" rel="stylesheet">


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
